<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle Ship</title>
</head>

<body>
  <main class="flex flex-wrap justify-around">
    <div class="player-section flex flex-col">
      <h2>Setup your board</h2>
      <p class="orientation">orientation</p>
      <div id="player-board" class="grid grid-cols-10">
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-1"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-2"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-3"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-4"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-5"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-6"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-7"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-8"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-9"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-10"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-11"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-12"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-13"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-14"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-15"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-16"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-17"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-18"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-19"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-20"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-21"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-22"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-23"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-24"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-25"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-26"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-27"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-28"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-29"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-30"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-31"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-32"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-33"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-34"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-35"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-36"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-37"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-38"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-39"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-40"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-41"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-42"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-43"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-44"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-45"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-46"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-47"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-48"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-49"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-50"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-51"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-52"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-53"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-54"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-55"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-56"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-57"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-58"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-59"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-60"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-61"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-62"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-63"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-64"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-65"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-66"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-67"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-68"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-69"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-70"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-71"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-72"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-73"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-74"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-75"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-76"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-77"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-78"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-79"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-80"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-81"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-82"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-83"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-84"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-85"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-86"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-87"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-88"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-89"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-90"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-91"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-92"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-93"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-94"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-95"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-96"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-97"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-98"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-99"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="player-100"></div>
      </div>
    </div>
    <div class="computer-section flex flex-col hidden">
      <h2>Enemy Board</h2>
      <div id="computer-board" class="grid grid-cols-10">
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-1"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-2"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-3"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-4"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-5"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-6"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-7"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-8"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-9"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-10"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-11"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-12"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-13"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-14"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-15"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-16"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-17"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-18"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-19"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-20"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-21"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-22"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-23"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-24"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-25"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-26"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-27"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-28"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-29"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-30"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-31"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-32"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-33"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-34"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-35"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-36"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-37"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-38"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-39"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-40"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-41"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-42"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-43"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-44"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-45"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-46"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-47"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-48"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-49"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-50"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-51"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-52"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-53"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-54"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-55"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-56"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-57"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-58"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-59"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-60"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-61"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-62"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-63"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-64"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-65"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-66"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-67"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-68"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-69"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-70"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-71"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-72"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-73"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-74"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-75"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-76"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-77"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-78"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-79"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-80"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-81"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-82"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-83"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-84"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-85"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-86"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-87"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-88"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-89"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-90"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-91"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-92"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-93"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-94"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-95"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-96"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-97"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-98"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-99"></div>
        <div class="tile border-2 m-[1px] w-12 h-12 cursor-pointer rounded-md" id="computer-100"></div>
      </div>
    </div>
  </main>
</body>

</html>